{% extends 'base.html' %}
    <!-- header section start -->
    {% block content %}
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "Nasdaq 100"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR/USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "BTC/USD"
    },
    {
      "description": "TSLA",
      "proName": "NASDAQ:TSLA"
    },
    {
      "description": "AAPL",
      "proName": "NASDAQ:AAPL"
    },
    {
      "description": "QQQ",
      "proName": "NASDAQ:QQQ"
    },
    {
      "description": "FB",
      "proName": "NASDAQ:FB"
    },
    {
      "description": "GOOG",
      "proName": "NASDAQ:GOOG"
    }
  ],
  "showSymbolLogo": true,
  "colorTheme": "dark",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->
<!--<form action = '.' method = 'POST'> {% csrf_token %}-->
<!--    {{ form }}-->
<!--&lt;!&ndash;    {{ form.as_ul }}&ndash;&gt;-->
<!--    <input type = 'submit' value = 'Save' />-->
<!--</form>-->

<!--    {{ graph }}-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" style="font-size: 1.5em" href="/"
            >Home</a
          >

          <a class="nav-item nav-link" style="font-size: 1.5em" href="/about"
            >About</a
          >
          <a class="nav-item nav-link" style="font-size: 1.5em" href="/contact"
            >Contact</a
          >
        </div>
      </div>
    </nav>

    <!-- header section end -->
    <!-- banner section start -->
    <div class="layout_padding banner_section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="banner_taital">Automatic Stock Portfolio Generator</h1>
            <p class="browse_text">
              We aim to plan financial freedom for those struggling through the
              pandemic and provide free information about getting started with the Stock Market
            </p>
            <div class="banner_bt">
              <a href="/about/"><button class="read_bt">Learn More</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- banner section end -->
    <!-- search box start -->
    <div class="container">
      <div class="search_box">
        <form action = '.' method = 'post'> {% csrf_token %}
        <div class="row">
          {{ form.non_field_errors }}
          <div class="col-sm-3">
            <div class="form-group">
              {{ form.stock_name.errors }}

              {{ form.stock_name }}
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              {{ form.investment_value.errors }}

              {{ form.investment_value }}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              {{ form.risk_profile.errors }}

              {{ form.risk_profile }}
            </div>
          </div>
        </div>
        <br />
        <div class="container">
          <div class="row">
            <div class="col-sm-5">
              <div class="form-group">
                {{ form.time.errors }}

              {{ form.time }}
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                {{ form.graph_type.errors }}

              {{ form.graph_type }}
              </div>
            </div>
            <div class="col-sm-3">
              <input value="Create Portolio" class="search_bt" type="submit" />
              <br>
              <br>
              <br>
              <br>

                <center><a href='/portfolio/' class="search_bt mt-2" alt='Broken Link' value = 'Show Portfolio'>Show Portfolio</a></center>

            </div>
            <p class="text-center">Please note that an automatic portfolio will be recommended if you do not enter valid information</p>
            
          </div>
        </div>
          </form>
      </div>
    </div>
    <!-- search box end -->


    {% endblock %}
