
{% extends 'base.html' %}


    {% block content %}


    </style>
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "Nasdaq 100"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR/USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "BTC/USD"
    },
    {
      "description": "TSLA",
      "proName": "NASDAQ:TSLA"
    },
    {
      "description": "AAPL",
      "proName": "NASDAQ:AAPL"
    },
    {
      "description": "QQQ",
      "proName": "NASDAQ:QQQ"
    },
    {
      "description": "FB",
      "proName": "NASDAQ:FB"
    },
    {
      "description": "GOOG",
      "proName": "NASDAQ:GOOG"
    }
  ],
  "showSymbolLogo": true,
  "colorTheme": "dark",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" style="font-size: 1.5em" href="/"
            >Home</a
          >

          <a class="nav-item nav-link" style="font-size: 1.5em" href="/about"
            >About</a
          >
          <a class="nav-item nav-link" style="font-size: 1.5em" href="/contact"
            >Contact</a
          >
        </div>
      </div>
    </nav>

{% load static %}
<!--    <h2 class="text-center text-primary">Portfolio based on {{ object.stock_name }} stock with a {{ object.risk_level}} risk</h2>-->
<!--<img src="{% static 'images/portfolio.png' %}">-->
<!--<img src="{% static 'images/graph.png' %}">-->
<p id = 'stock' style="display: none">{{ obj.stock_name }}</p>
<p id = 'chart_type' style="display: none;">{{graph}}</p>

{% for ticker in tickers%}
    <li style="display: none">{{ ticker }}</li>
{% endfor%}

<ul>
{% for prices in prices%}
    <li style="display: none;">{{ price }}</li>
{% endfor%}
</ul>




<h2 style="display: none;">{{obj.stock_name}} Chart</h2>


<script language="javascript" type="text/javascript">
  let stock_name = document.querySelectorAll('.stock');
  let links = document.getElementById('dynamicLink');
  l = links[0];
  l.innerHTML = `https://www.tradingview.com/symbols/${stock_name}/`
  return l
  </script>

<div class="tradingview-widget-container">
  <div id="tradingview_b0d5f"></div>

  <div class="tradingview-widget-copyright"><a id = "dynamicLink" href='link' rel="noopener" target="_blank"><span class="blue-text"></span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  let stock_name = document.getElementById('stock').innerHTML;
  let graph_type = document.getElementById('chart_type').innerHTML;
  // console.log(stock_name)
  new TradingView.widget(
  {
  "width": 980,
  "height": 610,
  "symbol": stock_name,
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "dark",
  "style": graph_type,
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "container_id": "tradingview_b0d5f"
}
  );
  </script>

<script type="text/javascript">
  let stock_name = document.getElementById('stock').innerHTML;
  console.log(stock_name)
</script>



  

</div>



<br>
<br>
<br>
<br>
<!-- <h2 class="text-success">The recommended portfolio for you is:</h2> -->



<div class="ml-5" id="container" style="width: 1000px; height: 800px;">
  <div class="row">
      <div class="col align-self-center">
    <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-base.min.js" type="text/javascript"></script>
    <center>
          <script>
anychart.onDocumentLoad(function () {
  // create an instance of a pie chart
  var chart = anychart.pie();
  // set the data
  lis = document.querySelectorAll('li')
  chart.data([
    [lis[0].textContent, 5],
    [lis[1].textContent, 2],
    [lis[2].textContent, 2],
    [lis[3].textContent, 2],
    [lis[4].textContent, 1]
  ]);
  // set chart title

  // set the container element
  chart.container("container");
  // initiate chart display
  chart.draw();
});
</script>
</center>

  </div>

</div>

</div>



{% endblock %}


